<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WITHPOST</title>
</head>
<body>

<strong>WITHPOST</strong><br>
<a href="/">index</a><br>

<form method="post">
    <input type="text" name="q">
    <input type="submit">
</form>
<br> 

<body>

Your search is:

'{{ . }}'

Notice the URL!
</body>

</body>
</html>