<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Aggregate structs</title>
</head>
<body>
    {{range $key, $element := .}}
    <li>{{$key}} - {{$element}}</li>
    {{end}}
</body>
</html